.titleClass {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt; 
  color: #ffffff; 
  background: #999999; 
  font-weight: bold; 
  text-align: right;
}
.greyClass {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt; 
  color: #000000; 
  background: #eeeeee; 
  font-weight: normal; 
  text-align: right;
}
.stockName {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt; 
  background: #eeeeee; 
  font-weight: bold; 
  text-align: left;
}
.note { 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 7pt; 
  color: #000000; 
  background: #ffffff; 
  font-weight: normal; 
  text-align: center; 
}
.lslbl { 
  width: 40; 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt; 
  color: #000080; 
  background: #ffffff; 
  text-align: right; 
  border-style: none;
}
.lsgbox {
  background: #ffffbb url(../images/cbg.jpg); 
}
.space {
  height:170;
}
#wrap  {
  width: 440px;
  margin: 0 auto;
}